@(url: String, form: Form[models.forms.AuthLoginForm], message: String = null)
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Login - Archivalry">
		<meta name="author" content="Roelf Wichertjes">
		<link rel="icon" href="/assets/favicon.png">

		<title>Login - Archivalry</title>

		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<link href="/assets/css/login.css" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			<form class="form-signin" action="/auth/login/@url" method="post" role="form">
				<h2 class="form-signin-heading">Please login</h2>
				@if(message != null) { <h3 style="color: red; text-align: center;">@message</h3> }
				<input type="username" name="username" class="form-control" placeholder="Username" required autofocus>
				<input type="password"  name="password" class="form-control"placeholder="Password" required>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
			</form>

		</div>
	</body>
</html>
